webclient/xml-resources/web-service-references/WebServe/wsdl/localhost_8080/Lab6/WebServe.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://test/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://test/">

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="makePeople" type="tns:makePeople"/>

<xs:element name="makePeopleResponse" type="tns:makePeopleResponse"/>

<xs:element name="sayBlah" type="tns:sayBlah"/>

<xs:element name="sayBlahResponse" type="tns:sayBlahResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="makePeople">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="age" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="makePeopleResponse">
<xs:sequence>
<xs:element name="return" type="tns:people" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="people">
<xs:sequence>
<xs:element name="age" type="xs:int"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sayBlah">
<xs:sequence>
<xs:element name="parameter" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sayBlahResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>