webclient/src/META-INF/wsdl/localhost_8080/Lab6/WebServe.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://test/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://test/" name="WebServe">
<types>
<xsd:schema>
<xsd:import namespace="http://test/" schemaLocation="http://localhost:8080/Lab6/WebServe?xsd=1"/>
</xsd:schema>
</types>
<message name="sayBlah">
<part name="parameters" element="tns:sayBlah"/>
</message>
<message name="sayBlahResponse">
<part name="parameters" element="tns:sayBlahResponse"/>
</message>
<message name="makePeople">
<part name="parameters" element="tns:makePeople"/>
</message>
<message name="makePeopleResponse">
<part name="parameters" element="tns:makePeopleResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="WebServe">
<operation name="sayBlah">
<input wsam:Action="http://test/WebServe/sayBlahRequest" message="tns:sayBlah"/>
<output wsam:Action="http://test/WebServe/sayBlahResponse" message="tns:sayBlahResponse"/>
</operation>
<operation name="makePeople">
<input wsam:Action="http://test/WebServe/makePeopleRequest" message="tns:makePeople"/>
<output wsam:Action="http://test/WebServe/makePeopleResponse" message="tns:makePeopleResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://test/WebServe/helloRequest" message="tns:hello"/>
<output wsam:Action="http://test/WebServe/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="WebServePortBinding" type="tns:WebServe">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sayBlah">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="makePeople">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServe">
<port name="WebServePort" binding="tns:WebServePortBinding">
<soap:address location="http://localhost:8080/Lab6/WebServe"/>
</port>
</service>
</definitions>